@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, Sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

.cabecalho{
    padding-top: 40px;
    text-align: center;
    background-color: #fffcf5;
    min-height: 150%;
    
    
}

nav {
    background-color: #e9e0ca;
    font-family: var(--fonte2);
    padding: 10px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.411);
    
}

nav > a {
    
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: .5s;
    color: #11abca;

}

nav > a:hover {
    background-color: #7DCBDA;
    color: white;
}

body{
    background-color: #fffcf5;
    background-image: linear-gradient(to right, #92c4b894, #cee4dfa1);
    
    
}

span{
    background-image: linear-gradient(to right,#92C4B8, #52E3E2);
    
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #eceaa1b9;
    box-shadow: 5px 5px 10px #CEE4DF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

main h2{
    background-image: linear-gradient(to right, #92C4B8, #52E3E2, #CEE4DF);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    font-family: var(--fonte2);
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.24);
}


main img.maeefilho{
    display: block;
    text-align: center;
    margin: auto;
    margin-right: auto;
    min-width: 300px;
    max-width: 300px;
    padding: 20px;
    background-image: linear-gradient(to right, #92C4B8, #52E3E2, #CEE4DF);
    
}

section#img01{
    background-image: url('../projeto-site/imagens/percussao400.jpeg');
    border-radius: 10px;
    background-position: right center;
    background-size: cover;

    
    
    
}


section > p{
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397);
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-family: var(--fonte3);
    font-size: 1em;
    line-height: 2em;
    text-indent: 20px;
    font-weight: bolder;
    background-color: rgba(180, 197, 188, 0.205);
    /*rgba(111, 136, 122, 0.205)*/
    
}

section a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-family: var(--fonte3);
}
.link{
    
    font-family: var(--fonte3);
}

.icone::before{
    content: '⇒';
}

.icone::after{
    content: '⇐';
}


aside > ul {
    
    
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397);
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    font-family: var(--fonte3);
    font-weight: bolder;
    background-color: rgba(180, 197, 188, 0.205);
    
}

ul#img02 {
    
    background-image: url('../projeto-site/imagens/picole300.jpeg');
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397);
    background-position: top left;
    background-size: cover;
    display: inline-block;
    text-align: center;
    
    
}

p#img03{
    background-image: url('../projeto-site/imagens/pisc400.jpeg');
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397);
    background-position: center;
    background-size: cover;
    display: inline-block;
    text-align: center;

}

picture > p{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397);
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
    text-indent: 20px;
    font-weight: bolder;
    font-family: var(--fonte3);
}



.louge {
    display: block;
    text-align: center;
    margin-right: auto;
    min-width: 300px;
    max-width: 300px;
    padding: 20px;
    background-image: linear-gradient(to right, #92C4B8, #52E3E2, #CEE4DF);
}

.louge1{
    background-image: linear-gradient(to right, #92C4B8, #52E3E2, #CEE4DF);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    font-family: var(--fonte2);
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.24);


}

.louge2{
    text-align: center;
    background-image: linear-gradient(to right, #92C4B8, #52E3E2, #CEE4DF);
    color: white;
    display: block;
    min-width: 300px;
    max-width: 300px;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.24);

    

}

main img.louge{
    display: block;
    margin: auto;
    padding: 20px;
}



